@import "../../../../assets/scss/utility/utility.scss";
@import "../../../../assets/scss/utility/dimen";
.change-pass-page {
  form {
    height: 91%;
    .change-pass {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 24px;
      & > span:first-child {
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 9px;
      }
      .new-pass,
      .repeat-new-pass,
      .old-pass {
        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 9px;
        .icon {
          width: 10.5%;
          fill: #777;
          height: 17px;
        }
        .changesize {
          width: 9%;
        }
        & > input {
          @extend %radius;
          background: linear-gradient(
            90deg,
            rgba($color-theme-secondary, 0.8) 0%,
            rgba($color-theme-primary, 0.6) 50%,
            rgba($color-theme-secondary, 0.8) 100%
          );
          font-size: 0.9em;
          width: 85%;
          height: 30px;
          padding: 0 10px;
          box-sizing: border-box;
          border: 1px solid rgba($color-gray-svg, 0.6);
          vertical-align: middle;
        }
        &:focus-within {
          input {
            background: transparent;
          }
          .icon {
            fill: $color-theme-primary;
          }
        }
        .toggle-password {
          position: absolute;
          top: 5px;
          left: 5px;
          padding: 3px;
          svg {
            fill: $color-gray-svg;
          }
        }
      }
      .enter {
        margin-top: 6px;
        width: 30%;
      }
    }
  }
  & > div:last-child {
    align-self: flex-start;
    margin: 6px 11px;
    align-items: center;
    div {
      margin: 0 3px;
    }
    a {
      font-size: 0.85em;
      margin: 2px 4px;
      align-self: start;
      &:hover {
        cursor: pointer;
        color: $color-blue-hover;
      }
    }
    .line {
      height: 13px;
      width: 1px;
      background: $color-gray-svg;
    }
  }
}
.robat-change-padd {
  padding-left: 80px;
  margin-top: 3px;
  span {
    margin: 0 17px;
  }
}
.error {
  margin-top: 9px;
  width: 100%;
  margin-right: 21px;
  display: flex;
  align-items: flex-end;
  svg {
    width: 8.1%;
  }
  span {
    color: $color-red-required;
    font-size: 0.8em;
    margin-right: 6px;
    width: 85%;
    margin-bottom: 2px;
  }
}
