<div
  class="favorit-work"
  [@openCloseWork]="
    this.publicVarYourPlace.isOpenWork
      ? this.publicVarYourPlace.isExistWork
        ? this.isOpenWorkEdit
          ? 'openEditWork'
          : 'openHaveWork'
        : 'openDontHaveWork'
      : 'close'
  "
>
  <div (click)="openCloseWork()">
    <svg viewBox="0 0 47.88 39.27">
      <g data-name="suitcase">
        <path
          d="M7.98 6.55v32.72h-3.2A4.85 4.85 0 0 1 0 34.36V11.45a4.84 4.84 0 0 1 4.78-4.9z"
          data-name="left"
        />
        <path d="M9.58 6.54h28.73v32.72H9.58z" data-name="middle" />
        <path
          d="M39.9 6.55h3.16a4.85 4.85 0 0 1 4.79 4.9v22.91a4.86 4.86 0 0 1-4.79 4.91H39.9z"
          data-name="right"
        />
        <path
          d="M16.75 6.14V3.68A3.64 3.64 0 0 1 20.35 0h7.18a3.64 3.64 0 0 1 3.59 3.68v2.46h-2.4V3.68a1.21 1.21 0 0 0-1.19-1.22h-7.18a1.21 1.21 0 0 0-1.2 1.22v2.46z"
          data-name="handle"
        />
      </g>
    </svg>
    <span *ngIf="this.publicVar.isPersian">محل کار</span>
    <span *ngIf="!this.publicVar.isPersian">Work</span>
  </div>

  <div class="container-work">
    <!-- work-addBox -->
    <div
      class="work-addbox"
      *ngIf="
        this.publicVarYourPlace.isOpenWork && this.existWork == 'DontHaveWork'
      "
    >
      <input
        [appTooltips]="
          this.publicVar.isPersian
            ? 'آدرس را از طریق مکان نما مشخص کنید'
            : 'Select address with pointer'
        "
        placement="top"
        delay="500"
        fontSize="0.85"
        [value]="coordPoint"
      />
      <button (click)="addNewWork()">
        <span *ngIf="this.publicVar.isPersian">افزودن</span>
        <span *ngIf="!this.publicVar.isPersian">Add</span>
      </button>
    </div>
    <!-- work-showExistLocation -->
    <div
      *ngIf="
        this.publicVarYourPlace.isOpenWork &&
        !this.isOpenWorkEdit &&
        !this.isOpenWorkDelete &&
        this.existWork == 'HaveWork'
      "
      class="work-showExistLocation"
    >
      <span>{{ workAddres }}</span>
      <div class="exist-work-button">
        <button
          class="direction-work"
          [appTooltips]="this.publicVar.isPersian ? 'مسیریابی' : 'Direction'"
          placement="top"
          fontSize="0.85"
          delay="500"
          (click)="opendirectionWork()"
        >
          <div>
            <svg width="20px" height="20px" viewBox="0 0 287.6 300">
              <path
                d="M281.9 174.4l-101.2-56.3c-7.5-3.8-13.1 0-13.1 7.5v30c-30 0-52.5 11.3-75 28.1v-71.3h28.1c7.5 0 9.4-5.6 5.6-11.3L70.1 5.6c-3.8-7.5-9.4-7.5-13.1 0L.7 101.3c-1.9 5.6 0 11.3 7.5 11.3h28.1V300h56.3v-1.9c0-46.9 30-84.4 76.9-86.3v26.3c-1.9 5.6 3.7 9.4 11.2 5.6L282 189.3c7.4-5.5 7.4-11.2-.1-14.9z"
              />
            </svg>
          </div>
        </button>
        <button
          class="edit-work"
          [appTooltips]="this.publicVar.isPersian ? 'ویرایش' : 'Edit'"
          placement="top"
          fontSize="0.85"
          delay="500"
          (click)="openWorkEdit()"
        >
          <div>
            <svg x="0px" y="0px" viewBox="0 0 528.899 528.899">
              <g>
                <path
                  d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981
                      c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611
                      C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069
                      L27.473,390.597L0.3,512.69z"
                />
              </g>
            </svg>
          </div>
        </button>
        <button
          class="remove-work"
          [appTooltips]="this.publicVar.isPersian ? 'حذف' : 'Delete'"
          placement="top"
          fontSize="0.85"
          delay="500"
          (click)="this.isOpenWorkDelete = true"
        >
          <div class="remove-work-closer">
            <svg x="0px" y="0px" viewBox="0 0 512 512">
              <path
                d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
