$color-theme-primary: #AACAEF;
$color-theme-secondary: #f5f5f5;
$color-light: #fff;
$color-dark: #111111;
$color-light-blue: #4285F4; //change
$color-gray: #373A3C;  //create
$color-light-gray:#E0DDD8;  //create
$color-gray-lighten:#C4C4C4 ; //create
$color-blue-hover:  #1671bf;//create
$color-gray-arrow:  #546E7A;//create
$color-gray-svg:#777;//create
$color-red-required:#DD0101;
$color-search-text:#c0c0c0;///new
$color-direction-text:#97bcf9;///new
$color-tooltip: #282a36 ; //for tooltip
$color-disabled: #aeaeae;
