@font-face {
  font-family: "Sahel";
  src: url("assets/font/Sahel/Sahel.eot");
  src: local("Sahel"), local("sahel"),
    url("assets/font/Sahel/Sahel.eot?#iefix") format("embedded-opentype"),
    url("assets/font/Sahel/Sahel.woff2") format("woff2"),
    url("assets/font/Sahel/Sahel.woff") format("woff"),
    url("assets/font/Sahel/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
