<div id="about-us" class="about-us">
  <img src="assets/img/about-us.svg" />
  <div (click)="CloaseAboutUs()" appHoverButton>
    <app-close></app-close>
  </div>
  <div class="txtAbout">
    <p>
      گویا مپ نقشه‌ای حرفه ای با جزییات دقیق و به روز از سراسر ایران است که
      علاوه بر اطلاعات دقیق و کامل معابر، محدوده‌ محلات شهرها، مناطق شهرداری و
      اسامی قدیمی خیابان‌ها را نیز داراست.همچنین سرویس مسیریاب گویامپ با در نظر
      گرفتن ترافیک آنلاین و کمترین زمان رسیدن به مقصد، بهترین مسیر را به شما
      پیشنهاد می‌دهد و شما را در سریع‌ترین زمان ممکن به مقصد می‌رساند.
    </p>
  </div>
</div>
